<!-- BOTTOM BAR (pill + mode) -->
<div class="ns-hero-bottom-wrap">
  <div class="ns-hero-bottom">
    <div class="ns-bottom-pill">
      <span class="ns-pill-slider"></span>

      <a href="index.html" class="ns-icon-btn" data-pill-target="logo">
        <img class="ns-img ns-img--light" src="assets/img/Small_Logo_Black.svg" />
        <img class="ns-img ns-img--dark" src="assets/img/Small_Logo_White.svg" />
      </a>

      <div class="ns-bottom-center">
        <button class="ns-bottom-btn ns-bottom-btn--primary" data-pill-target="contact" data-contact-open>Contact</button>
        <button class="ns-bottom-btn" data-pill-target="menu">Menu</button>
      </div>
    </div>

    <button class="ns-mode-btn" data-mode-btn>
      <img class="ns-img ns-img--light" src="assets/img/Brightess_Black.svg" />
      <img class="ns-img ns-img--dark" src="assets/img/Brightness_White.svg" />
    </button>
  </div>
</div>
