<section class="nx-screen nx-screen-2" data-step="2">
  <div class="nx-leftBlock nx-leftBlockWide">
    <!-- Groups will be injected here from categories.json -->
    <div id="nx-services-groups"></div>
    <div class="nx-fieldError" id="nxStep2Error"></div>

    <div class="nx-stepFooter">
      <button class="nx-navBtn" type="button" data-contact-back>
        <span class="nx-navArrow">←</span>
        <span class="nx-navText" data-back-text>Previous step</span>
      </button>
      <button class="nx-ctaBtn" type="button" data-contact-next>Continue</button>
    </div>
  </div>
</section>
