<footer class="nx-footer nx-footer--figma">
  <!-- MARQUEE -->
  <div class="nx-footer-track-wrapper" aria-hidden="true">
    <div class="nx-footer-track">
      <img src="assets/img/Long_Text.svg" class="nx-footer-strip" alt="" />
      <img src="assets/img/Long_Text.svg" class="nx-footer-strip" alt="" />
    </div>
  </div>

  <!-- BOTTOM CONTENT -->
  <div class="nx-footer-bottom">
    <div class="nx-footer-left">2025 NEXTSTUDIO™ • Verified content.</div>

    <div class="nx-footer-center">
      <a href="mailto:info@nxstu.com" class="footer-contact">
        <img src="assets/img/Mail.svg" alt="" />
        <span>info@nxstu.com</span>
      </a>

      <a href="tel:+420602642277" class="footer-contact">
        <img src="assets/img/Phone.svg" alt="" />
        <span>+420 602 642 277</span>
      </a>
    </div>

    <div class="nx-footer-right">
      <a href="#" class="footer-social"><img src="assets/img/X.svg" alt="" /></a>
      <a href="https://www.instagram.com/nextstudio.com_/" class="footer-social" target="_blank"><img src="assets/img/Instagram.svg" alt="" /></a>
      <a href="#" class="footer-social"><img src="assets/img/Linkedin.svg" alt="" /></a>
      <a href="https://dribbble.com/nxtstud" class="footer-social" target="_blank"><img src="assets/img/Dribble.svg" alt="" /></a>
    </div>
  </div>
</footer>
