<!-- HERO 3D SEKCE -->
<section class="hero3d">
  <!-- BACKGROUND -->
  <div class="fx-bg">
    <!-- velký černý pixelový nápis NEXTSTUDIO -->
    <img src="assets/img/background.svg" class="fx-lines" alt="NEXTSTUDIO" />
  </div>

  <!-- HERO OBSAH + 3D + VIDEO -->
  <section class="hero">
    <!-- 3D OBJEKT (tvoje three.js/scéna) -->
    <div class="hero-3d" aria-hidden="true">
      <canvas id="c" aria-label="NEXTSTUDIO 3D logo"></canvas>
    </div>

    <!-- ČERVENÝ BOX PRO VIDEO -->
    <div class="hero-video-zone">
      <!-- <div class="hero-video"></div> -->
      <video class="hero-video" src="assets/img/nxstu.com – video_v3.mp4" autoplay muted loop playsinline></video>
    </div>
  </section>
</section>
