<!-- SCROLL TEXT + CARDS -->
<section class="sr-section" id="scroll-showcase">
  <div class="sr-pin" id="srPin">
    <div class="sr-textWrap" id="srTextWrap">
      <div class="sr-textBlock">
        <div class="sr-row">
          <div class="sr-label" id="srLabel">WHAT WE CREATE</div>

          <h1 class="sr-headline" id="srHeadlineFirst">
            <span class="sr-line" data-text="We create digital"></span>
          </h1>
        </div>

        <h1 class="sr-headline sr-headline--rest" id="srHeadlineRest">
          <span class="sr-line" data-text="products, brand"></span>
          <span class="sr-line" data-text="identities and content"></span>
          <span class="sr-line" data-text="that help brands grow"></span>
          <span class="sr-line" data-text="and stand out"></span>
        </h1>
      </div>
    </div>

    <div class="sr-gridWrap">
      <div class="sr-grid" id="srGrid">
        <a class="sr-card" href="Ranketta.html">
          <div class="sr-cardInner">
            <img class="sr-mainImage" alt="" src="assets/img/Ranketta_IMG.png" />
            <div class="sr-tags"><span>[APP]</span><span>[WEBSITE]</span><span>[UI/UX]</span></div>
          </div>
          <div class="sr-footer">
            <div class="sr-footerLeft">
              <img alt="" src="assets/img/Ranketta_Logo.svg" />
              <p>RANKETTA</p>
            </div>
            <span class="sr-year">2025</span>
          </div>
        </a>

        <a class="sr-card" href="FN-Valassko.html">
          <div class="sr-cardInner">
            <img class="sr-mainImage" alt="" src="assets/img/FN_Valassko_IMG.png" />
            <div class="sr-tags"><span>[APP]</span><span>[WEBSITE]</span><span>[UI/UX]</span></div>
          </div>
          <div class="sr-footer">
            <div class="sr-footerLeft">
              <img alt="" src="assets/img/FN_Valassko_Logo.svg" />
              <p>FN VALASSKO</p>
            </div>
            <span class="sr-year">2025</span>
          </div>
        </a>

        <a class="sr-card" href="VUT.html">
          <div class="sr-cardInner">
            <img class="sr-mainImage" alt="" src="assets/img/VUT_IMG.png" />
            <div class="sr-tags"><span>[APP]</span><span>[WEBSITE]</span><span>[UI/UX]</span></div>
          </div>
          <div class="sr-footer">
            <div class="sr-footerLeft">
              <img alt="" src="assets/img/VUT_Logo.svg" />
              <p>VUT</p>
            </div>
            <span class="sr-year">2025</span>
          </div>
        </a>

        <a class="sr-card" href="nordexBuild.html">
          <div class="sr-cardInner">
            <img class="sr-mainImage" alt="" src="assets/img/Nordex_IMG.png" />
            <div class="sr-tags"><span>[CAMPAIGNS]</span><span>[WEBSITE]</span><span>[UI/UX]</span></div>
          </div>
          <div class="sr-footer">
            <div class="sr-footerLeft">
              <img alt="" src="assets/img/Nordex_Logo.svg" />
              <p>NORDEX BUILD</p>
            </div>
            <span class="sr-year">2025</span>
          </div>
        </a>

        <a class="sr-card" href="Carscoring.html">
          <div class="sr-cardInner">
            <img class="sr-mainImage" alt="" src="assets/img/Carscoring_IMG.png" />
            <div class="sr-tags"><span>[APP]</span><span>[WEBSITE]</span><span>[UI/UX]</span></div>
          </div>
          <div class="sr-footer">
            <div class="sr-footerLeft">
              <img alt="" src="assets/img/Carscoring_Logo.svg" />
              <p>CARSCORING</p>
            </div>
            <span class="sr-year">2025</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
